.recipe-details {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #fdefef;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.recipe-details:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recipe-details a {
  display: inline-block;
  margin-bottom: 20px;
  color: #f53e87;
  text-decoration: none;
  transition: color 0.3s;
}

.recipe-details a:hover {
  color: #cb1099;
}

.recipe-details h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.recipe-details img {
  display: block;
  margin: 20px 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.recipe-details p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  line-height: 1.5;
}

.recipe-details .info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.recipe-details .info-row span {
  display: inline-block;
  padding: 0.5rem;
  background-color: #f835b7;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
}

.recipe-details .toggle-section {
  display: flex;
  margin-bottom: 20px;
}

.recipe-details .toggle-section button {
  flex: 1;
  padding: 10px;
  background-color: transparent;
  border: none;
  color: #f53eca;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.recipe-details .toggle-section button.active,
.recipe-details .toggle-section button:hover {
  background-color: #ea2f96;
  color: #fff;
}

.recipe-details h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.recipe-details ul,
.recipe-details ol {
  margin-bottom: 20px;
  font-size: 1.2rem;
  line-height: 1.5;
}

.recipe-details li {
  margin-bottom: 10px;
}

.recipe-details input[type="number"] {
  width: 100px;
  margin-right: 10px;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.recipe-details button {
  padding: 10px;
  background-color: #f53e9d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.recipe-details button:hover {
  background-color: #ec491f;
}

.recipe-details button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
